.Products {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.Product {
  width: 300px;
  min-width: 300px;
}

.Info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
}

.Qty {
  padding: 0 30px;
}

.Actions {
  display: flex;
  align-items: center;
}
