.ButtonPrimary {
  font-size: 14px;
  font-weight: 600;
  border: 0;
  color: inherit;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.ButtonSecondary {
  font-size: 14px;
  border: 0;
  color: #FF9900;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
}